h1{
    text-align: center;
    font-family:cursive;
    color: rgb(198, 198, 2);
    margin-top: 50px ;
}


.first{
        height: 500px;
        width: 500px;
        background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222)
        );
        margin-top:100px;
        margin-left: 130px;
        position:relative
    }

    .ball{
        height: 50%;
        width: 50%;
        background-color: yellow;
        border-radius: 50%;
        top: 25%;
        left: 25%;
        position: relative;
        z-index:3;

    }

    .eyeright{
        height: 60px;
        width: 45px;
        background-color: black;
        position: absolute;
        top: 70px;
        left: 150px;
        border-radius: 50%;
        z-index: 6;
    }
    .eyeleft{
        height:60px;
        width: 45px;
        background-color:black;
        position: absolute;
        right: 150px;
        top:70px;
        border-radius: 50%;
        z-index: 6;
    }
   /* to make mouth of this ball we need yellow circle
   which is below the eye and above the another 
   black circle.
   sabse niche black circle, uske upar yellow circle
   aur uske upar eye.
   z-index
   ball- 3
   mouth- 4
   circle- 5
   eye- 6*/

   .mouth{
       height: 75%;
       width: 75%;
       background-color:black ;
       border-radius: 50%;
       position:relative;
       top: 30px;
       left: 31px;
       z-index: 4;
   }
   .circle{
       height: 80%;
       width: 80%;
       background-color: yellow;
       position: relative;
       bottom:182px;
       left: 24px;;
       border-radius: 50%; 
       z-index: 5;
   }
   .second{
       height: 500px;
       width: 500px;
       background-color: lightpink;
       position:absolute;
       left: 900px;
       bottom: 50px;
   }

    